extends layout

block content
  div
    h1 Hello World
    div.bar
      p#state Disconnected
      input#myRange(type='range', min='0', max='60', value='30')
    div.state
      div Build state:
      div#notification Idle

    script(type='text/javascript').
      var title = !{JSON.stringify(title)};
    script(src="/javascripts/particles.js")
