extends layout

block content
  div
    h1= title
    p= 'WoW'
    input#myRange(type='range', min='0', max='60', value='30')

    script(type='text/javascript').
      var title = !{JSON.stringify(title)};
    script(src="/javascripts/particles.js")
