body {
  padding: 10px 50px 50px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bar {
  display: block;
  float: left;
  margin-right: 100px;
}

.state {
  margin: 35px;
}